<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Metadata Microservice</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2>File Metadata Microservice For
        <a href="https://www.freecodecamp.com/challenges/file-metadata-microservice" target="_blank">Free Code Camp</a>
    </h2>
    <form action="api/filesize" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <br>
        <input type="submit">
    </form>
    <br>
    <br>
    <a href="https://github.com/matosalexander/file-metadata" target="_blank">Repo</a>
</body>
</html>